body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 15px 2fr;
	grid-template-columns: 100px 2fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:1px;
    background-color: rgb(203, 198, 250);

}
	
	.sidebar {
		
		grid-area: sidebar;
		padding:50px;
		float: left;
		background-color: rgb(190, 155, 255);

}
.content {
	grid-area: content;
	padding:5px;
    background-color: rgb(126, 113, 240);
}

